---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Link from "../../components/Link.astro";
---

<BaseLayout className="bg-gray-50 text-slate-600">
  <!-- Disclaimer -->
  <dialog
    open
    class="hidden min-h-screen min-w-full p-2 text-center text-slate-600 shadow-md open:flex open:items-center open:justify-center open:bg-red-200"
  >
    <form
      method="dialog"
      class="flex w-full flex-col items-center justify-center gap-4 text-3xl md:w-3/4 lg:w-1/2"
    >
      <p class="text-5xl font-semibold">Disclaimer</p>
      <p>
        By using this apps you aware that EVERY data written here can be
        accessed by the general public !
      </p>

      <button
        class="rounded bg-emerald-300 py-2 px-4 hover:bg-emerald-400 hover:text-white"
        type="submit">Agree</button
      >
    </form>
  </dialog>

  <section class="mx-auto md:w-3/4 lg:p-8 xl:w-3/5">
    <Header title="How to Add Your CV here" />

    <section class="text-center">
      <a class="text-blue-500 underline hover:text-blue-700" href="/"
        >Back to Home</a
      >
    </section>

    <!-- How To -->
    <p class="text-lg">Step-by-step:</p>
    <ol class="ml-6 list-decimal text-lg">
      <li>
        Fork the repository by clicking the link: <Link
          href="https://github.com/withered-flowers/apps-static-site-for-cvs/fork"
        >
          Astro CV
        </Link>
      </li>
      <li>
        Clone the repository and change directory to the cloned repository
      </li>
      <li>
        Create a new branch in your local computer via <code
          class="font-semibold">git checkout -b [new-branch]</code
        >
      </li>
      <li>
        Install the required packages via <code class="font-semibold"
          >npm install</code
        >
      </li>
      <li>Open the code in your favorite editor</li>
      <li>Open the <code class="font-semibold">/src/content/cv</code></li>
      <li>
        Create a new <b>MDX File</b> inside the folder and name it with the given
        format:
        <ul class="ml-4 list-disc">
          <li>Format: <b>[class-code]-[name].mdx</b></li>
          <li>e.g.: <b>hck-53-lorem-ipsum.mdx</b></li>
          <li>
            For more information about the content see the given template: <b
              >tmp-01-lorem-ipsum.mdx</b
            >
          </li>
        </ul>
      </li>
      <li>
        Test the apps by running it via <code class="font-semibold"
          >npm run dev</code
        > and see that your CV is already made.
      </li>
      <li>
        After the test is successful, <b>Commit</b> to your branch and <b
          >Pull Request</b
        > to the <b>main</b> branch in <b>original repository</b> and wait for the
        result !
      </li>
    </ol>

    <Footer />
  </section>
</BaseLayout>
