---
import discordSvg from "../../assets/discord.svg";
import emailSvg from "../../assets/email.svg";
import lineSvg from "../../assets/line.svg";
import linkedinSvg from "../../assets/linkedin.svg";
import phoneSvg from "../../assets/phone.svg";
import telegramSvg from "../../assets/telegram.svg";
import whatsappSvg from "../../assets/whatsapp.svg";

import ContactSlot from "./ContactSlot.astro";

interface Props {
  contact: Contact;
}

const { contact } = Astro.props as Props;

let svgImage = "";

switch (contact.protocol) {
  case "discord":
    svgImage = discordSvg;
    break;
  case "email":
    svgImage = emailSvg;
    break;
  case "line":
    svgImage = lineSvg;
    break;
  case "linkedin":
    svgImage = linkedinSvg;
    break;
  case "phone":
    svgImage = phoneSvg;
    break;
  case "telegram":
    svgImage = telegramSvg;
    break;
  case "whatsapp":
    svgImage = whatsappSvg;
    break;
}
---

{
  (
    <section>
      {svgImage !== "" && (
        <ContactSlot svgImage={svgImage} alt={contact.protocol}>
          {contact.value}
        </ContactSlot>
      )}
    </section>
  )
}
