---
const { portfolio } = Astro.props as { portfolio: Portfolio };
---

<section class="mx-auto shrink-0 snap-center snap-always rounded-lg">
  <section
    class="rounded-lg p-3 duration-500 hover:bg-gray-200 md:p-4 md:transition-transform md:hover:scale-105"
  >
    <a
      href={portfolio.portfolioUrl ? portfolio.portfolioUrl : "#"}
      target="_blank"
    >
      <section class="w-full md:w-80">
        <img
          class="mx-auto h-40 w-80 shrink-0 rounded-lg bg-white shadow-xl"
          src={portfolio.imageUrl
            ? portfolio.imageUrl
            : "https://via.placeholder.com/320x160"}
        />

        <!-- Portfolio Name -->
        <p class="px-2 py-4 text-center">{portfolio.name}</p>

        <!-- Portfolio Description -->
        {
          portfolio.description.map((desc) => (
            <p class="text-justify indent-8 text-sm">{desc}</p>
          ))
        }
      </section>
    </a>
  </section>
</section>
