---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Link from "../components/Link.astro";

const uniqueGenerations = await getCollection("cv").then(
  // Fetch all the data
  (data) => {
    // Get only the data and then return only the generation
    const generations = data.map((datum) => datum.data.generation);
    const uniqueGenerations = [...new Set(generations)];

    return uniqueGenerations;
  }
);

export const prerender = true;
---

<BaseLayout
  className="bg-gray-50 text-slate-600 lg:p-8 md:w-3/4 xl:w-3/5 mx-auto"
>
  <Header />
  <main class="p-4">
    <section class="text-center">
      <a class="text-blue-500 underline hover:text-blue-700" href="/how-to"
        >How to Add Your Name Here</a
      >
    </section>
    <section>
      <p class="text-xl">Please choose Class:</p>
      <ul class="ml-2 flex list-disc flex-col gap-2 p-2">
        {
          uniqueGenerations.map((generation) => (
            <li>
              <Link href={`/cv/gen/${generation}`}>{generation}</Link>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
  <Footer />
</BaseLayout>
